@tailwind base;
@tailwind components;
@tailwind utilities;

.text-purple-600{
  background-color: #FF6347; /* Color de fondo personalizado */
  color: red;              /* Color de texto blanco */
  padding: 12px 20px;        /* Espaciado */
  border-radius: 8px;        /* Bordes redondeados */
  font-weight: bold;         /* Texto en negrita */
  text-align: center;        /* Centrado del texto */
}
